<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SpringNews</title>
        <meta charset="utf-8"/>       
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
    </head>
    
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div>Latest news</div>
        <ol>
            <li th:each="news : ${latest}">
                <a th:href="@{/news/{id}(id=${news.id})}" th:text="${news.headline}">Headline</a>
                <span th:text="${news.leadParagraph}">news lead paragraph</span>
                <span th:text="${news.date}">date</span>
                <!-- #calendars.format(news.date, 'dd/MMM/yyyy HH:mm')-->
            </li>
        </ol>
    </body>
</html>
