<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>News</title>
        <meta charset="utf-8"/>       
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
    </head>
    
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div>News listed here</div>
        <ol>
            <li th:each="news : ${newsList}">
                <a th:href="@{/news/{id}(id=${news.id})}" th:text="${news.headline}">Headline</a>
                <span th:text="${news.leadParagraph}">news lead paragraph</span>
                <span th:text="${#calendars.format(news.date, 'dd/MMM/yyyy HH:mm')}">date</span>
            </li>
        </ol>
        <div><a th:href="@{/createnews}">Create news</a><br/></div>
    </body>
</html>
