<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>News</title>
        <meta charset="utf-8"/>       
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
    </head>
    
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div>
            <h1 th:text="${news.headline}">headline</h1>
            Views:<p th:text="${news.views}">views</p>
            <h3 th:text="${news.leadParagraph}">lead paragraph</h3>
            <p th:text="${news.newsContent}">content</p>
            <p th:text="${news.date}">date</p>
            
        </div>
        <div>Categories</div>
        <ol>
            <li th:each="category : ${categories}">
                <span th:text="${category.name}">category</span>
            </li>
        </ol>
        
        <form method="post"
          class="destroy-form"
          th:action="@{/news/{id}/delete(id=${news.id})}">
        <button type="submit" id="deleteBtn" class="btn btn-danger">Delete</button>
        </form>
    </body>
</html>
