<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>News</title>
        <meta charset="utf-8"/>       
        <link rel="stylesheet" type="text/css" media="all" href="style.css"/>
    </head>
    
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div>
            <h1 th:text="${news.headline}">headline</h1>
            <h3 th:text="${news.leadParagraph}">lead paragraph</h3>
        </div>
        <div>Categories</div>
        <ol>
            <li th:each="category : ${categories}">
                <span th:text="${category.name}">category</span>
            </li>
        </ol>
    </body>
</html>
